In [1]:
from bs4 import BeautifulSoup
import requests
import smtplib
import time
import datetime

In [2]:
URL = 'https://www.amazon.in/Allen-Solly-Regular-AMKP317G04249_Jet-Black_X-Large/dp/B06Y2CH63N/ref=sr_1_5?crid=RNJMKLVFDL25&dib=eyJ2IjoiMSJ9.L97UFW7hUzBptau97O-MjVarNFSxL_navpkCEy7UZFxiozDvyis3zxiPztXhnA3bp_wyS_NucRcbbkrKSyomOzem_c0C7DlrSz9MNgkzj_4c17tZTNw4Ksl5x5e9fhOQyhNH9gDj2vNkvzu4xmFjyksUA_c2ahLgbrrU8uobFAwBXsOqgJeg1tu8pTOthhp8P9jk3oFSNEmfu5Fe8ovEt7y_KfO4YqIkf0eeHLkNCYqrTCtisXAo_D-0iLBEUgwa8uRTA3cjnGHXXeysMl4qaT5c1MuxzFfPOQ1wi7Izs8E.H9uBZddlFw1tuQjCcLJKsvuuhNMvIf3dqy0ROvcxgbU&dib_tag=se&keywords=t+shirt+for+men&qid=1719217145&sprefix=t%2Caps%2C269&sr=8-5'
headers = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/126.0.0.0 Safari/537.36 Edg/126.0.0.0"}

page = requests.get(URL,headers = headers )

soup1 = BeautifulSoup(page.content, "html.parser")

soup2 = BeautifulSoup(soup1.prettify(), "html.parser")

title = soup2.find(id="productTitle").get_text()
price = soup2.find(class_="a-price-whole").get_text()

print(title)
print(price)

                     Allen Solly Men's Regular Fit Polo


                       799

In [3]:
price = price.strip()
title= title.strip()

print(title)
print(price)

Allen Solly Men's Regular Fit Polo
799

In [4]:
import datetime

today = datetime.date.today()

print(today)

2024-06-25

In [5]:
import csv


header = ['Title', 'Price','Date']
data = [title, price,today]

#   ----- Only run onetime -----
#with open('AmazonWebScraperDataset.csv', 'w', newline = '', encoding = 'UTF8') as f:
   # writer = csv.writer(f)
   # writer.writerow(header)
   # writer.writerow(data)

In [6]:
import pandas as pd
df = pd.read_csv(r"C:\Users\91827\Alex_Analyst\AmazonWebScraperDataset.csv")
df

                                Title  Price        Date
0  Allen Solly Men's Regular Fit Polo  799.0  2024-06-24
1  Allen Solly Men's Regular Fit Polo    NaN  2024-06-24

In [7]:
# Appending data to the csv

#with open('AmazonWebScraperDataset.csv', 'a+', newline = '', encoding = 'UTF8') as f:
    writer = csv.writer(f)
    writer.writerow(data)

IndentationError: unexpected indent (3277811415.py, line 4)

In [9]:
def check_price():
    URL = 'https://www.amazon.in/Allen-Solly-Regular-AMKP317G04249_Jet-Black_X-Large/dp/B06Y2CH63N/ref=sr_1_5?crid=RNJMKLVFDL25&dib=eyJ2IjoiMSJ9.L97UFW7hUzBptau97O-MjVarNFSxL_navpkCEy7UZFxiozDvyis3zxiPztXhnA3bp_wyS_NucRcbbkrKSyomOzem_c0C7DlrSz9MNgkzj_4c17tZTNw4Ksl5x5e9fhOQyhNH9gDj2vNkvzu4xmFjyksUA_c2ahLgbrrU8uobFAwBXsOqgJeg1tu8pTOthhp8P9jk3oFSNEmfu5Fe8ovEt7y_KfO4YqIkf0eeHLkNCYqrTCtisXAo_D-0iLBEUgwa8uRTA3cjnGHXXeysMl4qaT5c1MuxzFfPOQ1wi7Izs8E.H9uBZddlFw1tuQjCcLJKsvuuhNMvIf3dqy0ROvcxgbU&dib_tag=se&keywords=t+shirt+for+men&qid=1719217145&sprefix=t%2Caps%2C269&sr=8-5'
    headers = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/126.0.0.0 Safari/537.36 Edg/126.0.0.0"}

    page = requests.get(URL,headers = headers )

    soup1 = BeautifulSoup(page.content, "html.parser")

    soup2 = BeautifulSoup(soup1.prettify(), "html.parser")

    title = soup2.find(id="productTitle").get_text()
    #symbol= soup2.find(id= "a-price-symbol").get_text()
    price = soup2.find(id="taxInclusiveMessage").get_text()

    price = price.strip()
    title= title.strip()

    import datetime

    today = datetime.date.today()
    
    import csv


    header = ['Title', 'Price','Date']
    data = [title, price,today]


    with open('AmazonWebScraperDataset.csv', 'a+', newline = '', encoding = 'UTF8') as f:
        writer = csv.writer(f)
        writer.writerow(data)

In [10]:
Price_in_a_month = 30 * 24 * 60 * 60   # (if we want Weekly price check 7 * 24 * 60 * 60)

while(True):
    check_price()
    time.sleep(Price_in_a_month)

In [ ]:
import pandas as pd
df = pd.read_csv(r"C:\Users\91827\Alex_Analyst\AmazonWebScraperDataset.csv")
df